html,
body {
  width: 100%;
  height: 100%;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.Model-header {
  width: 100%;
  height: 36px;
  background: rgba($color: #0c68c8, $alpha: 0.4);
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.Model-box {
  background: #0b1757;
  border: 1px solid #4574d6;
  box-shadow: 0px 0px 49px 1px rgba(6, 70, 167, 0.72) inset;
  border-radius: 10px;
}
.model-table {
  .my-table-thead {
    background: #007eff;
  }
  .my-table-tbody {
    border: none;
    tr {
      height: 32px;
      &:nth-child(2n-1) {
        background: rgb(11, 27, 93);
      }
      &:nth-child(2n) {
        background: rgb(11, 39, 109);
      }
      &:hover {
        background: #0b4c90;
      }
    }
  }
}
.model-table {
  height: calc(100% - 36px);
  font-size: 14px;
  .model-tr {
    cursor: pointer;
  }
  .model-td {
    line-height: 32px;
    width: 45%;
    margin-left: 10px;
    .pos-state {
      width: 8px !important;
      height: 8px !important;
      border-radius: 50%;
      background: #009944;
      float: left;
      margin: 12px 5px;
    }
    .state-offline {
      background: #3771b0;
    }
    .state-warn {
      background: #ffa101;
    }
    .state-alarm {
      background: #f80000;
    }
    div:nth-child(2) {
      width: calc(100% - 36px);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .model-td2 {
    height: 32px;
    width: 40px;
    cursor: pointer;
    text-decoration: underline;
  }
  .model-td3 {
    height: 32px;
    width: 40px;
    cursor: pointer;
  }
  .model-td3:hover {
    text-decoration: underline;
  }
  .pro-scrollbar {
    height: 100%;
    overflow-y: auto;
  }
}
/* 左列表组织、机组、测点选择 */
.my-list-content-edge {
  overflow: hidden;
  padding: 0px 10px;
  height: 100%;
  .input-selection {
    height: 30px;
    width: 100%;
    padding-left: 1px;
    margin-bottom: 10px;
    input {
      height: 28px;
      width: calc(100% - 30px);
      border: none;
      padding: 0 9px;
      font-size: 16px;
      cursor: default;
    }
    i {
      cursor: pointer;
      font-size: 12px;
      display: inline-block;
      width: 20px;
      height: 28px;
      line-height: 28px;
      text-align: center;
    }
  }
  .set-positions {
    height: calc(100% - 120px);
  }
  .pos-floating-window {
    position: fixed;
    z-index: 5;
    padding: 5px;
    font-size: 12px;
    li {
      height: 20px;
      line-height: 20px;
      display: flex;
      // grid-template-columns: 80px 1fr;
      div {
        &:first-child {
          &:after {
            display: inline-block;
            // width: 100px;
            height: 0;
            content: "";
          }
          text-align: justify;
        }
      }
    }
  }
}
.title-text {
  position: absolute;
  top: 85px;
  height: 30px;
  line-height: 30px;
  font-size: 30px;
  margin-left: 6px;
  z-index: 3;
  font-family: Source Han Sans CN;
}
