.com-table {
  .com-row {
    display: grid;
    grid-template-columns: 80px 150px 150px;
    grid-template-rows: 50px;
    .com-ceil {
      display: grid;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      .ceil {
        width: 100%;
        height: 100%;
        margin: 0px auto;
        padding: 2px 2px;

        font-size: 12px;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: #666;
        text-align: center;
        input {
          width: 50px;
          border: none;
          outline: none;
          text-align: center;
          color: #666;
          &::-webkit-input-placeholder { /* WebKit browsers */
            color: #bbb;
          }
          &::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: #bbb;
          }
          &:-ms-input-placeholder { /* Internet Explorer 10+ */
            color: #bbb;
          }
          &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            appearance: none;
            margin: 0;
          }
          &[type="number"] {
            -moz-appearance: textfield;
          }
        }
      }
      .text-button{
        color: #6c91dd;
        text-decoration: underline;
        margin: 8px auto;
        cursor: pointer;
        font-size: 12px;
      }
      .select-div {
        padding: 15px 15px 15px 5px;
        text-align: left;
        position: relative;
        .iconfont{
          position: absolute;
          right: 5px;
          font-size: 12px;
        }
      }
    }
    .ceil-col-two {
      grid-template-columns: 1fr 1fr;
      .colspan-1-3 {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
  }
  .com-head {
    .com-ceil {
      border-top: 1px solid #ccc;
    }
  }
  .left-border{
    border-left: 1px solid #ccc;
  }
  .top-border{
    border-top: 1px solid #ccc;
  }
}